html{
    
}
body{
    margin: 0;
    padding:0;
    
}
header{
    height: 100%;
}
header a{
    float: left;
    text-decoration: none;
    margin-left: 20px;
    color:#697A9C;
}

header ul{
    float: right;
}
header::after{
content: '';
clear:both;
display:table;

}
header ul li{
    display:inline-block;
    margin-right: 20px;
}

#new-main{
    font-size: 50px;
    text-align: center;
    height: 80vh;
}
.sub-header{
    font-size: 20px;
    color:#697A9C;
}

.projects-content{
    margin-bottom: 20px;
   display:grid;
   grid-template-columns: repeat(2,1fr); 
}
.header-center{
    text-align:center;
}

.project-overview{
    justify-self: center;
    width:50%;
}


.project-calculator img{
    width: 20%;
    height: 20%;
}

.todo-project img{
    width: 50%;
    height:50%
}

footer{
    margin-top: 100px;
}

.footer-content a{
    margin-left: 15px;
}


@media(max-width: 600px){
    header a {
        margin-left: 5px;
    }
    #new-main{
        font-size: 40px;
        height: 100vh;
        
    }
    .projects-content{
        display:block;
        text-align: center;
    }
    .project-overview{
        
        width:100%;
    }
    .project-calculator img{
        width: 50%;
        height: 50%;
    }
    
    .todo-project img{
        width: 90%;
        height:60%
    }
    header ul{
        visibility: hidden;
    }
    /* header is going to be hidden for mobile */
}