body,
html {
  height: 100%;
  font-weight: normal;
  font-family: 'Frank Ruhl Libre', serif;
  margin: 0px;
  padding: 0;  
  background-color: #FCFFF5;
}

header{
    position: block;
    width: 100%;
    height: 5%;
    top: 0;
    
}

header h2 {
    float: left;
    color: #3E606F;
    font-size: 20px;
}
header ul{
    float: right;
}
header ul li{
    display: inline-block;
    font-size: 18px;
    color: #3E606F;
    margin-right: 10px;
}
header a{
    text-decoration: none;
    color:inherit;
}
header ul li:active{
    border-bottom: 3px solid #CBDBD7;
}
.center-please{
    width: 100vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#new-main{
    display: flex;
    width: 100vh;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 30px;
    flex-wrap: wrap;
}




.sub-header{
    padding:0;
    display: inline-block;
    font-size: 25px;
    color: #91AAB4; 
}
.sub-header-project{
    
    padding:0;
    display: inline-block;
    font-size: 25px;
    color: #91AAB4; 

}

.projects{
    
    font-size: 20px;
    padding-bottom: 50px;
}
.projects-content{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(2, minmax(1fr, 1fr));
    grid-gap: 1rem;
}

.projects-content div{
    justify-self: center;
}
.project-overview{
    width: 50%;
    text-align: center;
}


.footer-content a{
    margin-left: 10px;
}

.project-calculator img{
    width: 250px;
    height: 250px;
}
.todo-project img{
    width: 450px;
    height: 315px;
}

.header-center h3{
    text-align: center;
}


footer{
    height: 2.5em;   
    
}
footer h3{
    float: left;
    width: 100%;
    height: 100%;
    
}
@media(max-width: 600px){
    
    .header-menu{
        visibility: hidden;
    }
    .projects{
        width: 100vh;
        
    }
}
